<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery.getJSON demo</title>
  <style>
    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    .top-left {
      position: absolute;
      top: 0px;
      left: 0px;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 
<div class="container">
  <img id="{{ dutname }}"></img>
  <div id="control" tabindex="0" class="top-left"></div>
</div>

<script>

    $(function() {
      $('#control').focus();
    });

    let player_control = {
      'manual_gear_shift': false,
      'gear': 0,
      'throttle': 0,
      'steer': 0,
      'brake': 0,
      'hand_brake': false,
      'reverse': false
    }

    setInterval(function() {
        var flickerAPI = "/ping?";
        $.getJSON( flickerAPI, {
        tags: "mount rainier",
        tagmode: "any",
        format: "json"
        })
        .done(function( data ) {
            player_control = data.duts.{{ dutname }}.player.control;
            $('#control').focus();
            $("#{{ dutname }}").attr( "src", data.duts.{{ dutname }}.camera_rgb.image );
        });
    }, 50);

    control.onkeydown = handle_down;
    control.onkeyup = handle_up;
    control.onkeypress = handle_press;

    function handle_control() {
      $.ajax({
        type: 'PUT',
        url: '/scenario/dut/{{ dutname }}',
        contentType: 'application/json',
        data: JSON.stringify(player_control)}
      );
    }

    function handle_down(e) {
      console.log('DOWN ', e)
      if (e.code == "KeyQ") {
        player_control['reverse'] = !player_control['reverse'];
        if (player_control['reverse']) {
          player_control['gear'] = -1
        } else {
          player_control['gear'] = 0
        }
      }
    }

    function handle_up(e) {
      console.log('UP   ', e)
      if (e.code == "KeyW" || e.code == "ArrowUp") {
        player_control['throttle'] = 0;
      }
      if (e.code == "KeyS" || e.code == "ArrowDown") {
        player_control['brake'] = 0;
      }
      if (e.code == "KeyA" || e.code == "ArrowLeft"
      || e.code == "KeyD" || e.code == "ArrowRight") {
        player_control['steer'] = 0;
      }
      handle_control();
    }

    function handle_press(e) {
      console.log('PRESS', e)
      if (e.code == "KeyW" || e.code == "ArrowUp") {
        player_control['throttle'] = 1;
      }
      if (e.code == "KeyS" || e.code == "ArrowDown") {
        player_control['brake'] = 1;
      }
      if (e.code == "KeyA" || e.code == "ArrowLeft") {
        player_control['steer'] = max(-0.7, player_control['steer']-0.1);
      }
      if (e.code == "KeyD" || e.code == "ArrowRight") {
        player_control['steer'] = main(0.7, player_control['steer']+0.1);
      }
      handle_control();
    }

</script>
</html>